# .gitignore files

# Ignore all built libraries (*.a)
/*.a

# But allow the library files that the SDK itself provides.
!/l_zigbee_sdk/platform/chip_b91/lib/libaxon_driver_lib.a
!/l_zigbee_sdk/platform/lib/libdrivers_8258.a
!/l_zigbee_sdk/platform/lib/libdrivers_826x.a
!/l_zigbee_sdk/platform/lib/libdrivers_8278.a
!/l_zigbee_sdk/platform/lib/libdrivers_b91.a
!/l_zigbee_sdk/platform/riscv/libfirmware_encrypt.a
!/l_zigbee_sdk/platform/tc32/libfirmware_encrypt.a
!/l_zigbee_sdk/platform/tc32/libsoft-fp.a
!/l_zigbee_sdk/zigbee/lib/riscv/libzb_coordinator.a
!/l_zigbee_sdk/zigbee/lib/riscv/libzb_ed.a
!/l_zigbee_sdk/zigbee/lib/riscv/libzb_router.a
!/l_zigbee_sdk/zigbee/lib/tc32/libzb_coordinator.a
!/l_zigbee_sdk/zigbee/lib/tc32/libzb_ed.a
!/tl_zigbee_sdk/zigbee/lib/tc32/libzb_router.a

# Ignore all built object files.
/*.o

# Ignore all Python compiled files
/*.pyc